{{ if .Site.Data.homepage.about.enable }}
<section id="about" class="section rad-animation-group pb-0" >
  <div class="container rad-fade-down">
    <div class="row d-flex flex-column-reverse flex-md-row">
      <div class="about__profile-picture col-12 col-md-6">
        {{ with .Site.Data.homepage.about.image }}
          {{ partial "lazypicture" (dict "src" .x "height" .height "classes" "image-left-overflow")}}
        {{ end }}
      </div>
      <div class="col-12 col-md-6 my-auto my-auto">
        <h2>{{ i18n "about_title" }}</h2>
        {{ i18n "about_content" | safeHTML }}
        <a
          href="{{ .Site.Data.homepage.about.button.URL | absURL }}"
          target="_blank"
          class="btn btn-primary"
        >
          <i class="{{ .Site.Data.homepage.about.button.icon }}"></i>
          {{ i18n "about_button" }}
        </a>
      </div>
    </div>
  </div>
</section>
{{ end }}
